@import url(http://allfont.net/allfont.css?fonts=aleo-light);

body{
    background-color: black;
}
#top-banner{
    background-color: black
}
#portfolios-container{
    background-color: white;
}
#contact-footer{
    margin-top: 10px;
    background-color: #111111;
    color: white;
}
#contact-footer ul{
    font-size: 15px;
}
